<!--Utilizado como menú para acceso rapido a rutas especificas para realizar tests -->
<footer class="footer">
    <div class="dropdown">
        <button class="dropdown-btn" onclick="toggleDropdown()">Opciones de desarrollo</button>
        <div class="dropdown-content" id="dropdownMenu">            
            <a href="/">Volver a login</a>        
            <a href="/users/signup">Registrar usuario </a>
            <a href="/tareas/seleccion">Seleccionar una tarea</a>
            <a href="/admin/inicio">Vista Administración Inicio</a>
        </div>
    </div>
</footer>